/*Universal Styles*/
@font-face {
    font-family: Before The Rain;
    src: url(../fonts/BeforeTheRain.ttf);
}
body{
	font-family: Lato, sans-serif;
	font-weight: lighter;
}
h1, h2, h3, h4{
	font-family: Lato, sans-serif;
	font-weight: bold;
}

h1::first-letter {
	color:#D34376;
}
img{
	margin-bottom: 2rem;
}
p{
	margin-bottom: 2rem;
}
/*End Universal Styles*/
/*Start Navigation Styles*/
.top-bar{
	background-color: #fff;
}
.top-bar ul{
	background-color: transparent;
	float: right;
}
.title-bar{
	background-color: #fff;
}
.menu a{
	background-color: #fff;
	color: #000;
}
.menu-icon::after{
	background: #D34376;
	box-shadow: 0 7px 0 #D34376, 0 14px 0 #D34376;
}
.menu-icon:hover::after{
	background: #D34376;
	box-shadow: 0 7px 0 #D34376, 0 14px 0 #D34376;
}
/*End Navigation Styles*/
/*Start Heading Styles*/
.hero{
	text-align: center;
	padding: 8rem 0;

}
.hero p{
	margin: 1rem 0;
	font-weight: normal;
}
.after-hero{
	margin: 1rem;
}
.firstlet{
		color:#D34376;
}
.script{
	font-family: "Before the Rain", cursive;
	color: #000;
	font-weight: 900;
}
/*End Heading Styles*/
