.hero{
	text-align: center;
	margin-top: 1rem;
	/*min-height: 400px;*/
}

/*Start Navigation Styles*/
.top-bar{
	background-color: #fff;
}
.top-bar ul{
		background-color: transparent;
	}
.title-bar{
	background-color: #fff;
}
.menu a{
	background-color: #fff;
	color: #000;
}
.menu-icon::after{
	background: #D34376;
	box-shadow: 0 7px 0 #D34376, 0 14px 0 #D34376;
}
.menu-icon:hover::after{
	background: #D34376;
	box-shadow: 0 7px 0 #D34376, 0 14px 0 #D34376;
}
/*End Navigation Styles*/